doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")

    body
        h1= config.name + " " + config.version
        h2 API links
        p
            - const apiUrl = config.apiPath + "/test"
            a(href=apiUrl)= apiUrl
            br
            a(href=apiUrl + "?error")= apiUrl + "?error"
            br
            a(href=apiUrl + "?customError")= apiUrl + "?customError"
